body{
    background: #F3F5FC;
    
}

header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
}
header img{
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

textarea{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;

    outline: none;
    resize: none;
    background: none;
    border: none;
}

input::placeholder,
textarea::placeholder {
  color: #0A3871;
  opacity: 1;
}

#txtinput{
    position: absolute;
    width: 577px;
    min-height: 600px;
    left: 240px;
    top: 168px;
    
}

.txtoutput{
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
    background: #FFFFFF;
    border:  none;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

#txtoutput{
    width: 336px;
    height: 781px;

    position: absolute;
    top: 32px;
    left: 32px;

    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
    
}

.txtoutput img{
    position: absolute;
    width: 336px;
    height: 304px;
    left: 32px;
    top: 243px;
}

.bloque-msj{
    font-family: 'Arial';
    font-style: normal;
    text-align: center;

    position: absolute;
    width: 84%;
    
    left: 32px;
    top: 579px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
}

#msj {

    font-weight: 700;
    font-size: 24px;
    line-height: 120%;

    /* Gray/gray-500 */
    color: #343A40;
}

#dato{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    /* Gray/gray-400 */
    color: #495057;
    
}

.alerta{
    position: absolute;
    width: 229px;
    height: 18px;
    left: 240px;
    top: 851px;

    font-family: 'Arial';
    font-style: bold;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;

    color: #495057;

    opacity: 0.8
}


.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;

    transition: 0.3s all;
    cursor: pointer;
}

#btnE{
    width: 328px;
    height: 67px;
    
    font-size: 15px;
    /* Dark blue/dark-blue-300 */
    background: #0A3871;
    border-radius: 24px;

    /* White */
    color: #FFFFFF;
    border: none;
    
}
#btnE:hover{
    background: #072B61;
}

#btnD{
    width: 328px;
    height: 67px;

    /* Light gray */
    font-size: 15px;
    /* Dark blue/dark-blue-300 */
    border: 1px solid #0A3871;
    border-radius: 24px;

    /* Dark blue/dark-blue-300 */
    color: #0A3871;
}

#btnD:hover, #btnC:hover{
    background: #EFF1FA;   
}

#btnC{
    width: 84%;
    height: 67px;

    position: absolute;
    left: 32px;
    bottom: 32px;

    border: 1px solid #0A3871;
    border-radius: 24px;
    background-color: white;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    /* Dark blue/dark-blue-300 */
    color: #0A3871;
}